.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: var(--s3);
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: var(--s1) var(--s0);
}

.fluid-image {
  width: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  background-color: var(--color-main);
  color: #fff;
  border-style: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  box-shadow: var(--shadow-sharp);
  transition: var(--btn-scale);

  &:hover {
    background-color: #fff;
    border: 2px solid var(--color-main);
    color: var(--color-main);
  }
}
